.jam-center {
	margin: .5em 0 0 0;
	text-align: center;
}
.jam-center ul {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
.jam-center li {
	display: inline-block;
}
.jam-social-share {
	height: 2em;
	width: 2em;
}
.jam-social-share:hover {
	zoom: 1;
	filter: alpha(opacity=50);
	opacity: 0.5;
}